/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Apply a CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-heading h2 {
    font-weight: bold;
    font-size: 30px;
    color: black;
}


/* Container for the contact form */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url("/public/images/contactus.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 15px;
    color: white;
    /* Text color */
}


/* Contact heading */

.contact-heading {
    text-align: center;
    margin-bottom: 20px;
}


/* Content layout */

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* Google Maps iframe */

.contact-map {
    width: 100%;
    height: 450px;
    border: none;
    margin-bottom: 20px;
}


/* Contact details layout */

.contact-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


/* Address styling */

.contact-address {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
}


/* Form styling */

.contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(24, 18, 18, 0.5);
    border-radius: 15px;
    background: rgba(166, 137, 137, 0.5);
    backdrop-filter: blur(10px);
}


/* Input styling */

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    border: none;
    background: none;
    border-bottom: 2px solid #141212;
    color: #131313;
    font-size: 15px;
}


/* Placeholder color */

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #201313;
}


/* Button styling */

.contact-form input[type="submit"] {
    border: none;
    background: #bcbbbe;
    border-radius: 40px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #131212;
    width: 100px;
    margin-top: 25px;
    transition: 0.3s;
}

.contact-form input[type="submit"]:hover {
    opacity: 0.7;
}